@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');
*{
    margin:0px;
    padding:0px;
    font-family:"Josefin Sans"
}
.custom-shape-divider-bottom-1621353902 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1621353902 svg {
    position: relative;
    display: block;
    width: calc(158% + 1.3px);
    height: 171px;
}

.custom-shape-divider-bottom-1621353902 .shape-fill {
    fill: #eee7fe;
}
/* navigation bar */
.nav-link{
    color:white;
    margin-top:30px;
}
.navbar-brand{
    margin-top:30px;
    color:white;
}
.nav-link:hover{
    color:aquamarine;
    transition: 0.4s;
}
.logo{
    height:50px;
}
.first-row{
    margin-top:70px;
    padding-bottom:180px;
}
.header-image{
    width:100%;
    height:100%;
}
.banner-header{
    color:white;
    font-family: "Josefin Sans";
}
.banner-p{
    font-family:"Josefin Sans";
    color:white;
    width:80%;
    margin-top:30px;
}
.header-btn{
    font-family:"Josefin Sans";
    text-align:center;
    color:black;
    text-decoration: none;
    background-color:aquamarine;
    margin-top:10px;
    padding:10px 50px;
}
.header-a{
    text-decoration:none;
    color:black;
}
.header-a:hover{
    text-decoration:none;
    color:black;
}
.download-windows{
    font-size:17px;
}
.header-btn-2{
    background-color:aquamarine;
}
.header-btn-2 a{
    color:black;
}
.header-a2{
    text-decoration:none;
    color:black;
}
.header-a2:hover{
    text-decoration:none;
    color:black;
}
/* body */
.body-header{
    text-align:center;
    font-family:"Josefin Sans";
    font-size:50px;
}
.main-header{
    text-align:center;
    margin-bottom:15px;
}
.body-p{
    text-align:center;
    font-size:28px;
    margin-top:40px;
}
.icon-body{
    background-color:white;
    display:flex; 
}
.icon{
    padding:40px 20px;
}
.icon-p{
    padding-bottom:30px;
    width:95%;
    flex:1;
}
.icon-p-span{
    font-size:26px;
    font-weight:600;
    padding-top:40px;
}
.body2{
    margin-left:90px;
}
.body1{
    margin-left:45px;
}
.icon-row{
    margin-top:50px;
    margin-bottom:50px;
}

@media only screen and (max-width: 800px) {
    .nav-link, .navbar-brand{
        margin-top:10px;
    }
    .first-row{
        margin-top:40px;
    }
    .banner-header{
        font-size:33px;
    }
    .banner-p{
        width:100%;
        margin-top:15px;
    }
    .header-image{
        display:none;
    }
    .body1{
        margin-left:10px;
        margin-right:10px;
    }
    .body2{
        margin-left:10px;
        margin-right:10px;
        margin-top:30px;
    }
    .body-p{
        font-size:26px;
    }
    .icon{
        padding-top:30px;
        padding-left:0px; padding-right:0px;
        padding-bottom:20px;
    }
    .icon-p-span{
        font-size:26px;
        font-weight:600;
        padding-top:0px;
        width:100%;
        text-align:center;
    }
    .icon-p{
        text-align:center;
    }
  }