<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/CSS/style.css">
    <title>Rainbow - Rainbow is a Smart decentralized token builds on XRC20</title>
</head>
<body style="background-color:#eee7fe;">
    <div style="position:relative; background-color: #1d0553; height:100%;">
    <div class="container">
    <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="#"><img src="../static/Images/logo-rm.png" class="logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle ml-3" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Introduction
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="#what">What is Rainbow?</a>
                  <a class="dropdown-item" href="#">How it works?</a>
                </div>
              </li>
            <li class="nav-item">
              <a class="nav-link ml-3" href="#">Buy $RAIN</a>
            </li>
            <li class="nav-item">
              <a class="nav-link ml-3" href="#">Download</a>
            </li>
            <li class="nav-item">
                <a class="nav-link ml-3" href="#">Newslatter</a>
            </li>
            <li class="nav-item">
                <a class="nav-link ml-3" href="#">Contact</a>
            </li>
          </ul>
        </div>
      </nav>

      
          <div class="row first-row">
              <div class="col-md-6 col-sm-12 col-lg-6">
                <h1 class="banner-header">
                    Rainbow is a smart decentralized Xrc20 token builds on IoTeX.
                </h1>
                <p class="banner-p">
                    Hyper deflationary reflect and automatic liquidity protocol & static farming by holding
                </p>
                <button class="btn btn-lg header-btn">
                    <a class="header-a" href="https://mimo.exchange/swap" target="_blank"><strong>Buy On Mimo Exchange</strong></a>
                </button><br>
                
                <button class="btn mt-3 header-btn-2">
                    <a class="header-a2" href="#">
                        <i class="fa fa-windows" aria-hidden="true" style="margin-right:5px;"></i>
                        <strong>Available For Windows</strong>
                    </a>
                </button>
                <button class="btn mt-3 header-btn-2">
                    <a class="header-a2" href="https://play.google.com/store/apps/details?id=io.iotex.iopay.gp&hl=tr&gl=US" target="_blank">
                        <i class="fa fa-android" aria-hidden="true" style="margin-right:5px;"></i>
                        <strong>Available For Android</strong>
                    </a>
                </button>
              </div>
              <div class="col-md-6 col-sm-12 col-lg-6">
                  <img src="../static/Images/2.webp" class="header-image">
              
          </div>
      </div>
          
      
          <div class="custom-shape-divider-bottom-1621353902">
            <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                <path d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z" class="shape-fill"></path>
            </svg>
        </div>
</div>
</div>

<section id="what">
  <div class="container">
    <h1 class="main-header"><strong>Our Tokens</strong></h1>
    <h2 class="body-header">What is the Rainbow?</h1>
    <p class="body-p">The Rainbow is a token which has the advantage of benefiting from the interests of the iotex blockchain.</p>
  

  <div class="row icon-row">
    <div class="col-md-5 col-sm-12 col-lg-5 icon-body body1">
      <img src="../static/Images/transfer.png" class="icon">
      <p class="icon-p">
        <span class="icon-p-span">
          <strong>Easily Transferable</strong>
        </span><br>
        It is limited to <strong style="color:#1d0553;">$1,000,000 coins</strong> and is defined as being transferable and redeemable on the iotex blockchain.
      </p>
    </div>
    <div class="col-md-5 col-sm-12 col-lg-5 icon-body body2">
      <img src="../static/Images/transaction.png" class="icon">
      <p class="icon-p">
        <span class="icon-p-span">
          <strong>No Transaction Fees</strong>
        </span><br>
        It is transferable and redeemable on the iotex blockchain at near zero fee.You can exchange it on <strong style="color:#1d0553;">Mimo Exchange.</strong>
      </p>
    </div>
  </div>
</div>
</section>
    <script src="../static/JS/script.js"></script>
    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>